/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        toggle_os_mode: toggle_os_mode {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOGGLE_OS_MODE";
            #binding-cells = <1>;
            toggle-mode = "flip";
        };
        
        esc_grave: esc_grave {
            compatible = "zmk,behavior-mod-morph";
            label = "ESC_GRAVE";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&kp GRAVE>;
            mods = <(MOD_LALT)>;
        };
    };

    macros {
        // BT profile 0: Windows desktop -> Windows base layer (0)
        bt_0_win: bt_0_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&to 0>;
        };

        // BT profile 1: iPad -> Mac base layer (4), iPadOS uses Cmd-based shortcuts
        bt_1_ipad: bt_1_ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1>, <&to 4>;
        };

        // BT profile 2: work Windows PC -> Windows base layer (0)
        bt_2_win: bt_2_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2>, <&to 0>;
        };

        // BT profile 3: MacBook -> Mac base layer (4)
        bt_3_mac: bt_3_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3>, <&to 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        windows_default {
            display-name = "Windows";
            // ------------------------------------------------------------------------------------------------------------
            // | ESC/` |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   =   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | GUI  | ALT  | LOWER|  SPACE |  | ENTER | RAISE|  ALT  |  BT   |
            // ESC/` = tap for Esc, hold Alt for `                                                     BT = hold for Bluetooth layer

            bindings = <
&esc_grave        &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                         &kp N6  &kp N7         &kp N8     &kp N9   &kp N0    &kp EQUAL
&kp TAB           &kp Q   &kp W   &kp E         &kp R         &kp T                          &kp Y   &kp U          &kp I      &kp O    &kp P     &kp MINUS
&kp LEFT_SHIFT    &kp A   &kp S   &kp D         &kp F         &kp G                          &kp H   &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C         &kp V         &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_SHIFT
                                  &kp LEFT_WIN  &kp LEFT_ALT  &mo 1   &kp SPACE    &kp RET   &mo 2   &kp RIGHT_ALT  &mo 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_lower {
            display-name = "Windows Lower";
            // ------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3   |  F4    |  F5   |  F6    |             |      |       |       |      |   -   |   =   |
            // |  F7   |  F8 |  F9   |  F10   |  F11  |  F12   |             |      |       |       |      |       |       |
            // |       |     |C+A+ - |C+A+ =  | A+F12 | C+F12  |             |  |   |   +   |   -   |      |       |   \   |
            // |       |     |       |        |       | S+F12  | C+A+Z|C+A+W|      |       |       |      |       |       |
            //                       |        |       | LOWER  |      |     |      |       |       |

            bindings = <
&kp F1  &kp F2  &kp F3             &kp F4             &kp F5       &kp F6                                       &trans    &trans    &trans     &trans  &kp MINUS  &kp EQUAL
&kp F7  &kp F8  &kp F9             &kp F10            &kp F11      &kp F12                                      &trans    &trans    &trans     &trans  &trans     &trans
&trans  &trans  &kp LC(LA(MINUS))  &kp LC(LA(EQUAL))  &kp LA(F12)  &kp LC(F12)                                  &kp PIPE  &kp PLUS  &kp MINUS  &trans  &trans     &kp BACKSLASH
&trans  &trans  &trans             &trans             &trans       &kp LS(F12)  &kp LC(LA(Z))    &kp LC(LA(W))  &trans    &trans    &trans     &trans  &trans     &trans
                                   &trans             &trans       &mo 1        &trans           &trans         &trans    &trans    &trans
            >;

            /*  */

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_raise {
            display-name = "Raise";
            // ------------------------------------------------------------------------------------------------------------
            // |   `   |     |     |      |      |      |                   |      | PREV  | PLAY  | NEXT |       |       |
            // |       |     |     |      |      |      |                   | PG_UP| HOME  |  UP   | END  |       |       |
            // |       |     |     |      |      |      |                   | PG_DN| LEFT  | DOWN  |RIGHT |       | VOL+  |
            // |       |     |     |      |      |      |  CAPS  |          |      | BSPC  |       | DEL  |       | VOL-  |
            //                     |      |      |      |        |      | RAISE |      |       |

            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans                          &trans         &kp C_PREV     &kp C_PLAY_PAUSE  &kp C_NEXT  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                          &kp PAGE_UP    &kp HOME       &kp UP_ARROW      &kp END     &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                          &kp PAGE_DOWN  &kp LEFT       &kp DOWN          &kp RIGHT   &trans  &kp C_VOLUME_UP
&trans     &trans  &trans  &trans  &trans  &trans  &kp CAPSLOCK    &trans  &trans         &kp BACKSPACE  &trans            &kp DELETE  &trans  &kp C_VOLUME_DOWN
                           &trans  &trans  &trans  &trans          &trans  &mo 2          &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_bt {
            display-name = "Windows Bluetooth";
            // ------------------------------------------------------------------------------------------------------------
            // |       | BT0  | BT1  | BT2  | BT3  | BT4  |                   |      |       |       |      |       |       |
            // |       |      |      |      |      |      |                   |      |       |       |      |       |       |
            // |       |      |      |CLEAR |      |      |                   |      |       |       |      |       |       |
            // |       |      |      |      |      |      |                   |      |       |       |      |       |       |
            //                     |      |      |      |        |      |      |      |   BT  |
            bindings = <
&trans  &bt_0_win     &bt_1_ipad    &bt_2_win     &bt_3_mac     &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &bt BT_CLR    &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans        &trans    &trans  &trans  &trans  &mo 3
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mac_default {
            display-name = "Mac";
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   \   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | CMD  | LOWER|  SPACE |  | ENTER | RAISE|  ALT  |  BT   |
            bindings = <
&kp ESC           &kp N1  &kp N2  &kp N3        &kp N4    &kp N5                         &kp N6  &kp N7         &kp N8     &kp N9   &kp N0    &kp GRAVE
&kp TAB           &kp Q   &kp W   &kp E         &kp R     &kp T                          &kp Y   &kp U          &kp I      &kp O    &kp P     &kp BACKSLASH
&kp LEFT_SHIFT    &kp A   &kp S   &kp D         &kp F     &kp G                          &kp H   &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X   &kp C         &kp V     &kp B   &kp LBKT     &kp RBKT  &kp N   &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                  &kp LEFT_ALT  &kp LCMD  &mo 5   &kp SPACE    &kp RET   &mo 6   &kp RIGHT_ALT  &mo 7
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mac_lower {
            display-name = "Mac Lower";
            bindings = <
&kp F1  &kp F2  &kp F3             &kp F4             &kp F5       &kp F6                                       &trans    &trans    &trans     &trans  &kp MINUS  &kp EQUAL
&kp F7  &kp F8  &kp F9             &kp F10            &kp F11      &kp F12                                      &trans    &trans    &trans     &trans  &trans     &trans
&trans  &trans  &kp LC(LA(MINUS))  &kp LC(LA(EQUAL))  &kp LA(F12)  &kp LC(F12)                                  &kp PIPE  &kp PLUS  &kp MINUS  &trans  &trans     &kp BACKSLASH
&trans  &trans  &trans             &trans             &trans       &kp LS(F12)  &kp LC(LA(Z))    &kp LC(LA(W))  &trans    &trans    &trans     &trans  &trans     &trans
                                   &trans             &trans       &mo 5        &trans           &trans         &trans    &trans    &trans
            >;
        };

        mac_raise {
            display-name = "Mac Raise";
            bindings = <
&kp GRAVE  &trans  &trans  &trans  &trans  &trans                          &trans         &kp C_PREV     &kp C_PLAY_PAUSE  &kp C_NEXT  &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                          &kp PAGE_UP    &kp HOME       &kp UP_ARROW      &kp END     &trans  &trans
&trans     &trans  &trans  &trans  &trans  &trans                          &kp PAGE_DOWN  &kp LEFT       &kp DOWN          &kp RIGHT   &trans  &kp C_VOLUME_UP
&trans     &trans  &trans  &trans  &trans  &trans  &kp CAPSLOCK    &trans  &trans         &kp BACKSPACE  &trans            &kp DELETE  &trans  &kp C_VOLUME_DOWN
                           &trans  &trans  &trans  &trans          &trans  &mo 6          &trans         &trans
            >;
        };

        mac_bt {
            display-name = "Mac Bluetooth";
            bindings = <
&trans  &bt_0_win     &bt_1_ipad    &bt_2_win     &bt_3_mac     &bt BT_SEL 4                    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &bt BT_CLR    &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                    &trans        &trans        &trans        &trans    &trans  &trans  &trans  &mo 7
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
